--
-- PostgreSQL database dump
--

\restrict hdLBlofBMyCsiusUKvbHlsSJTqkOdJGhIGux0RNG8tvQGVR0mn4qj4soIYEH70Z

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: calculate_discount(numeric, integer); Type: FUNCTION; Schema: public; Owner: llassri
--

CREATE FUNCTION public.calculate_discount(original_price numeric, discount_percent integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN original_price - (original_price * discount_percent / 100);

END;

$$;


ALTER FUNCTION public.calculate_discount(original_price numeric, discount_percent integer) OWNER TO llassri;

--
-- Name: get_total_spent(integer); Type: FUNCTION; Schema: public; Owner: llassri
--

CREATE FUNCTION public.get_total_spent(target_student_id integer) RETURNS numeric
    LANGUAGE plpgsql
    AS $$

DECLARE 

    total DECIMAL(10,2);

BEGIN

    SELECT COALESCE(SUM(total_price), 0.00) INTO total

    FROM Laundry_Order

    WHERE student_id = target_student_id AND order_status = 'Completed';

    

    RETURN total;

END;

$$;


ALTER FUNCTION public.get_total_spent(target_student_id integer) OWNER TO llassri;

--
-- Name: increment_machine_usage(); Type: FUNCTION; Schema: public; Owner: llassri
--

CREATE FUNCTION public.increment_machine_usage() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE Laundry_Machine 

    SET usage_count = usage_count + 1 

    WHERE machine_id = NEW.machine_id;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.increment_machine_usage() OWNER TO llassri;

--
-- Name: is_machine_available(integer); Type: FUNCTION; Schema: public; Owner: llassri
--

CREATE FUNCTION public.is_machine_available(m_id integer) RETURNS boolean
    LANGUAGE plpgsql
    AS $$

DECLARE 

    status VARCHAR(50);

BEGIN

    SELECT current_status INTO status

    FROM Laundry_Machine

    WHERE machine_id = m_id;

    

    IF status = 'Available' THEN

        RETURN TRUE;

    ELSE

        RETURN FALSE;

    END IF;

END;

$$;


ALTER FUNCTION public.is_machine_available(m_id integer) OWNER TO llassri;

--
-- Name: set_machine_busy(); Type: FUNCTION; Schema: public; Owner: llassri
--

CREATE FUNCTION public.set_machine_busy() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE Laundry_Machine 

    SET current_status = 'Busy' 

    WHERE machine_id = NEW.machine_id;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_machine_busy() OWNER TO llassri;

--
-- Name: update_wallet_on_transaction(); Type: FUNCTION; Schema: public; Owner: llassri
--

CREATE FUNCTION public.update_wallet_on_transaction() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE Cash_Wallet 

    SET balance = balance + NEW.amount, 

        last_updated = CURRENT_TIMESTAMP 

    WHERE student_id = NEW.student_id;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_wallet_on_transaction() OWNER TO llassri;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cash_wallet; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.cash_wallet (
    student_id integer NOT NULL,
    balance numeric(10,2) DEFAULT 0.00,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.cash_wallet OWNER TO llassri;

--
-- Name: laundry_machine; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.laundry_machine (
    machine_id integer NOT NULL,
    machine_type character varying(50),
    brand_model character varying(100),
    capacity_kg numeric(5,2),
    current_status character varying(50) DEFAULT 'Available'::character varying,
    location character varying(100),
    usage_count integer DEFAULT 0
);


ALTER TABLE public.laundry_machine OWNER TO llassri;

--
-- Name: laundry_machine_machine_id_seq; Type: SEQUENCE; Schema: public; Owner: llassri
--

CREATE SEQUENCE public.laundry_machine_machine_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.laundry_machine_machine_id_seq OWNER TO llassri;

--
-- Name: laundry_machine_machine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: llassri
--

ALTER SEQUENCE public.laundry_machine_machine_id_seq OWNED BY public.laundry_machine.machine_id;


--
-- Name: laundry_order; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.laundry_order (
    order_id integer NOT NULL,
    student_id integer NOT NULL,
    staff_id integer,
    machine_id integer,
    service_type character varying(50),
    weight_kg numeric(5,2) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    order_status character varying(50) DEFAULT 'Pending'::character varying,
    dropoff_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expected_pickup timestamp without time zone,
    actual_pickup timestamp without time zone,
    payment_status character varying(50) DEFAULT 'Unpaid'::character varying,
    notes text
);


ALTER TABLE public.laundry_order OWNER TO llassri;

--
-- Name: laundry_order_order_id_seq; Type: SEQUENCE; Schema: public; Owner: llassri
--

CREATE SEQUENCE public.laundry_order_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.laundry_order_order_id_seq OWNER TO llassri;

--
-- Name: laundry_order_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: llassri
--

ALTER SEQUENCE public.laundry_order_order_id_seq OWNED BY public.laundry_order.order_id;


--
-- Name: laundry_staff; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.laundry_staff (
    staff_id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    role character varying(50),
    email character varying(100)
);


ALTER TABLE public.laundry_staff OWNER TO llassri;

--
-- Name: laundry_staff_staff_id_seq; Type: SEQUENCE; Schema: public; Owner: llassri
--

CREATE SEQUENCE public.laundry_staff_staff_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.laundry_staff_staff_id_seq OWNER TO llassri;

--
-- Name: laundry_staff_staff_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: llassri
--

ALTER SEQUENCE public.laundry_staff_staff_id_seq OWNED BY public.laundry_staff.staff_id;


--
-- Name: student; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.student (
    student_id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    phone_number character varying(20),
    residence character varying(100),
    room character varying(100),
    registered_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.student OWNER TO llassri;

--
-- Name: manager_dashboard; Type: VIEW; Schema: public; Owner: llassri
--

CREATE VIEW public.manager_dashboard AS
 SELECT lo.order_id,
    (((s.first_name)::text || ' '::text) || (s.last_name)::text) AS student_name,
    lm.brand_model AS machine_name,
    lo.service_type,
    lo.order_status,
    lo.total_price
   FROM ((public.laundry_order lo
     JOIN public.student s ON ((lo.student_id = s.student_id)))
     JOIN public.laundry_machine lm ON ((lo.machine_id = lm.machine_id)));


ALTER VIEW public.manager_dashboard OWNER TO llassri;

--
-- Name: pricing; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.pricing (
    service_type character varying(50) NOT NULL,
    price_per_kg numeric(10,2) NOT NULL
);


ALTER TABLE public.pricing OWNER TO llassri;

--
-- Name: qr_code; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.qr_code (
    qr_id integer NOT NULL,
    order_id integer NOT NULL,
    qr_code_string character varying(255) NOT NULL,
    generated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.qr_code OWNER TO llassri;

--
-- Name: qr_code_qr_id_seq; Type: SEQUENCE; Schema: public; Owner: llassri
--

CREATE SEQUENCE public.qr_code_qr_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.qr_code_qr_id_seq OWNER TO llassri;

--
-- Name: qr_code_qr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: llassri
--

ALTER SEQUENCE public.qr_code_qr_id_seq OWNED BY public.qr_code.qr_id;


--
-- Name: student_spending_summary; Type: VIEW; Schema: public; Owner: llassri
--

CREATE VIEW public.student_spending_summary AS
 SELECT (((s.first_name)::text || ' '::text) || (s.last_name)::text) AS student_name,
    count(lo.order_id) AS total_orders,
    sum(lo.total_price) AS total_money_spent
   FROM (public.laundry_order lo
     JOIN public.student s ON ((lo.student_id = s.student_id)))
  GROUP BY s.first_name, s.last_name;


ALTER VIEW public.student_spending_summary OWNER TO llassri;

--
-- Name: wallet_transaction; Type: TABLE; Schema: public; Owner: llassri
--

CREATE TABLE public.wallet_transaction (
    transaction_id integer NOT NULL,
    student_id integer NOT NULL,
    order_id integer,
    amount numeric(10,2) NOT NULL,
    transaction_type character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.wallet_transaction OWNER TO llassri;

--
-- Name: wallet_transaction_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: llassri
--

CREATE SEQUENCE public.wallet_transaction_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wallet_transaction_transaction_id_seq OWNER TO llassri;

--
-- Name: wallet_transaction_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: llassri
--

ALTER SEQUENCE public.wallet_transaction_transaction_id_seq OWNED BY public.wallet_transaction.transaction_id;


--
-- Name: laundry_machine machine_id; Type: DEFAULT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_machine ALTER COLUMN machine_id SET DEFAULT nextval('public.laundry_machine_machine_id_seq'::regclass);


--
-- Name: laundry_order order_id; Type: DEFAULT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_order ALTER COLUMN order_id SET DEFAULT nextval('public.laundry_order_order_id_seq'::regclass);


--
-- Name: laundry_staff staff_id; Type: DEFAULT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_staff ALTER COLUMN staff_id SET DEFAULT nextval('public.laundry_staff_staff_id_seq'::regclass);


--
-- Name: qr_code qr_id; Type: DEFAULT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.qr_code ALTER COLUMN qr_id SET DEFAULT nextval('public.qr_code_qr_id_seq'::regclass);


--
-- Name: wallet_transaction transaction_id; Type: DEFAULT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.wallet_transaction ALTER COLUMN transaction_id SET DEFAULT nextval('public.wallet_transaction_transaction_id_seq'::regclass);


--
-- Data for Name: cash_wallet; Type: TABLE DATA; Schema: public; Owner: llassri
--



--
-- Data for Name: laundry_machine; Type: TABLE DATA; Schema: public; Owner: llassri
--



--
-- Data for Name: laundry_order; Type: TABLE DATA; Schema: public; Owner: llassri
--



--
-- Data for Name: laundry_staff; Type: TABLE DATA; Schema: public; Owner: llassri
--

COPY public.laundry_staff (staff_id, first_name, last_name, role, email) FROM stdin;
1	Karim	Haddad	Manager	k.haddad@aui.ma
2	Lamiae	Bennani	Operator	l.bennani@aui.ma
3	Hicham	Safi	Technician	h.safi@aui.ma
4	Nawal	El Idrissi	Supervisor	n.elidrissi@aui.ma
5	Abdelali	Mouline	Operator	a.mouline@aui.ma
6	Sanae	Kettani	Technician	s.kettani@aui.ma
7	Rachid	Bennis	Operator	r.bennis@aui.ma
8	Fatiha	Lahbabi	Operator	f.lahbabi@aui.ma
9	Mustapha	Senhaji	Technician	m.senhaji@aui.ma
10	Meriem	Ouahbi	Customer Service	m.ouahbi@aui.ma
\.


--
-- Data for Name: pricing; Type: TABLE DATA; Schema: public; Owner: llassri
--

COPY public.pricing (service_type, price_per_kg) FROM stdin;
Wash	5.00
Dry	4.00
Wash & Dry	8.50
Ironing	6.00
Dry Cleaning	12.00
Express Wash	7.50
Express Wash & Dry	12.00
Delicates	15.00
Comforter/Blanket	20.00
Stain Removal	10.00
Detergent Pod	10.00
\.


--
-- Data for Name: qr_code; Type: TABLE DATA; Schema: public; Owner: llassri
--



--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: llassri
--



--
-- Data for Name: wallet_transaction; Type: TABLE DATA; Schema: public; Owner: llassri
--



--
-- Name: laundry_machine_machine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: llassri
--

SELECT pg_catalog.setval('public.laundry_machine_machine_id_seq', 12, true);


--
-- Name: laundry_order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: llassri
--

SELECT pg_catalog.setval('public.laundry_order_order_id_seq', 29, true);


--
-- Name: laundry_staff_staff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: llassri
--

SELECT pg_catalog.setval('public.laundry_staff_staff_id_seq', 10, true);


--
-- Name: qr_code_qr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: llassri
--

SELECT pg_catalog.setval('public.qr_code_qr_id_seq', 29, true);


--
-- Name: wallet_transaction_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: llassri
--

SELECT pg_catalog.setval('public.wallet_transaction_transaction_id_seq', 70, true);


--
-- Name: cash_wallet cash_wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.cash_wallet
    ADD CONSTRAINT cash_wallet_pkey PRIMARY KEY (student_id);


--
-- Name: laundry_machine laundry_machine_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_machine
    ADD CONSTRAINT laundry_machine_pkey PRIMARY KEY (machine_id);


--
-- Name: laundry_order laundry_order_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_order
    ADD CONSTRAINT laundry_order_pkey PRIMARY KEY (order_id);


--
-- Name: laundry_staff laundry_staff_email_key; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_staff
    ADD CONSTRAINT laundry_staff_email_key UNIQUE (email);


--
-- Name: laundry_staff laundry_staff_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_staff
    ADD CONSTRAINT laundry_staff_pkey PRIMARY KEY (staff_id);


--
-- Name: pricing pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.pricing
    ADD CONSTRAINT pricing_pkey PRIMARY KEY (service_type);


--
-- Name: qr_code qr_code_order_id_key; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.qr_code
    ADD CONSTRAINT qr_code_order_id_key UNIQUE (order_id);


--
-- Name: qr_code qr_code_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.qr_code
    ADD CONSTRAINT qr_code_pkey PRIMARY KEY (qr_id);


--
-- Name: qr_code qr_code_qr_code_string_key; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.qr_code
    ADD CONSTRAINT qr_code_qr_code_string_key UNIQUE (qr_code_string);


--
-- Name: student student_email_key; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_email_key UNIQUE (email);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (student_id);


--
-- Name: wallet_transaction wallet_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.wallet_transaction
    ADD CONSTRAINT wallet_transaction_pkey PRIMARY KEY (transaction_id);


--
-- Name: wallet_transaction trg_apply_payment; Type: TRIGGER; Schema: public; Owner: llassri
--

CREATE TRIGGER trg_apply_payment AFTER INSERT ON public.wallet_transaction FOR EACH ROW EXECUTE FUNCTION public.update_wallet_on_transaction();


--
-- Name: laundry_order trg_count_usage; Type: TRIGGER; Schema: public; Owner: llassri
--

CREATE TRIGGER trg_count_usage AFTER INSERT ON public.laundry_order FOR EACH ROW EXECUTE FUNCTION public.increment_machine_usage();


--
-- Name: laundry_order trg_machine_start; Type: TRIGGER; Schema: public; Owner: llassri
--

CREATE TRIGGER trg_machine_start AFTER INSERT ON public.laundry_order FOR EACH ROW EXECUTE FUNCTION public.set_machine_busy();


--
-- Name: cash_wallet cash_wallet_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.cash_wallet
    ADD CONSTRAINT cash_wallet_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(student_id) ON DELETE CASCADE;


--
-- Name: laundry_order laundry_order_machine_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_order
    ADD CONSTRAINT laundry_order_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES public.laundry_machine(machine_id);


--
-- Name: laundry_order laundry_order_service_type_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_order
    ADD CONSTRAINT laundry_order_service_type_fkey FOREIGN KEY (service_type) REFERENCES public.pricing(service_type);


--
-- Name: laundry_order laundry_order_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_order
    ADD CONSTRAINT laundry_order_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.laundry_staff(staff_id);


--
-- Name: laundry_order laundry_order_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.laundry_order
    ADD CONSTRAINT laundry_order_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(student_id);


--
-- Name: qr_code qr_code_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.qr_code
    ADD CONSTRAINT qr_code_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.laundry_order(order_id) ON DELETE CASCADE;


--
-- Name: wallet_transaction wallet_transaction_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.wallet_transaction
    ADD CONSTRAINT wallet_transaction_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.laundry_order(order_id);


--
-- Name: wallet_transaction wallet_transaction_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: llassri
--

ALTER TABLE ONLY public.wallet_transaction
    ADD CONSTRAINT wallet_transaction_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(student_id);


--
-- PostgreSQL database dump complete
--

\unrestrict hdLBlofBMyCsiusUKvbHlsSJTqkOdJGhIGux0RNG8tvQGVR0mn4qj4soIYEH70Z

